<!DOCTYPE html>
<html lang="en">
    <%-include('../partials/head') %>
<body>
    <!-- header-->
    <%-include('../partials/header') %>
<!--fin header-->

<!-- MAIN -->
<main class="cart">
    <h1>CARRITO DE COMPRAS</h1>
    <section class="box">
        <h4>
            <ul>PRODUCTO</ul>
            <ul>CANTIDAD</ul>
            <ul>PRECIO</ul>
        </h4>
        <article class="caja-cont">
            <div class="imagen">
                <div class="juegos">
                    <img src="/images/fifa22.jpeg" alt="fifa22">
                </div>
                <div class="descripcion">
                    <strong>Fifa 22</strong><br>
                    <p> Sports FIFA 2022</p>
                    <button  class="btn" type="button">Cancelar</button>
                </div>
            </div>
            <div class="cant">
                <input id="inches" type="number" name="inches" min="0" max="11" step="1">
            </div>
            <div class="subtotal">  
                <p>Subtotal:</p> 
                <p >$2.500</p>
            </div>
        </article>
        <article class="caja-cont">
            <div class="imagen">
                <div class="juegos">
                    <img src="/images/sekiroo.jpg" alt="sekiroo">
                </div>
                <div class="descripcion">
                    <strong>Sekiroo</strong><br> 
                    <p>Shadows Die Twice</p>
                    <button  class="btn" type="button">Cancelar</button>
                </div>
            </div>
            <div class="cant">
                <input id="inches" type="number" name="inches" min="0" max="11" step="1">
                
            </div>
            <div class="subtotal">
                <p>Subtotal:</p>
                <p >$2.500</p>
            </div>
        </article>    
        <div class="total">
            <article class="opcionChekc">   
                <div class="precFinal">   
                <p class="precTotal">Total:$5.000</p> 
                </div>
            </article>
            <div class="envios">
                <label><input type="checkbox" id="cbox1" value="first_checkbox"> Envio a domicilio</label><br>
            </div>
            <div class="comprar">
                <button>Comprar</button>
            </div>          
        </div>
    </section>
</main>
<!-- fin del main -->

<!-- footer-->
<%-include('../partials/footer') %>
<!-- fin footer-->