<!DOCTYPE html>
<html lang="en" >  
  <%-include('../partials/head') %>
<body>
  <%-include('../partials/header') %>
<main>
  <div class="container">
    <div class="grid second-nav">
      <div class="column-xs-12">
        <nav>
          <ol class="breadcrumb-list">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Productos </a></li>
            <li class="breadcrumb-item active">Elden ring</li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="grid product">
      <div class="column-xs-12 column-md-7">
        <div class="product-gallery">
          <div class="product-image">
            <img class="active" src="/images/elden ring principal.jpg">
          </div>
          <ul class="image-list">
            <li class="image-item"><img src="/images/elden ring principal1.jpg"></li>
            <li class="image-item"><img src="/images/elden ring principal2.jpg"></li>
            <li class="image-item"><img src="/images/elden ring principal3.jpg"></li>
          </ul>
        </div>
      </div>
      <div class="column-xs-12 column-md-5">
        <h1>Elden ring</h1>
        <h2>$59.99</h2>
        <div class="description">
          <p>Álzate, Sinluz, y que la gracia te guíe para abrazar el poder del Círculo de Elden y encumbrarte como señor del Círculo en las Tierras Intermedias.

En las Tierras Intermedias gobernadas por la Reina Márika, la Eterna, el Círculo de Elden, origen del Árbol Áureo, ha sido destruido.</p>
          <p>Los descendientes de Márika, todos semidioses, reclamaron los fragmentos del Círculo de Elden conocidos como Grandes Runas. Fue entonces cuando la demencial corrupción de su renovada fuerza provocó una guerra: la Devastación.</p>
        </div>
        <button class="add-to-cart">Comprar</button>
      </div>
    </div>
    <div class="grid related-products">
      <div class="column-xs-12">
        <h3>Recomendados </h3>
      </div>
      <div class="column-xs-12 column-md-4">
        <img src="/images/sekiroo.jpg">
        <h4>Sekiro</h4>
        <p class="price">$19.99</p>
      </div>
      <div class="column-xs-12 column-md-4">
        <img src="/images/dark.jpg">
        <h4>Dark souls 3</h4>
        <p class="price">$19.99</p>
      </div>
      <div class="column-xs-12 column-md-4">
        <img src="/images/demonsouls.jpg">
        <h4>Demon souls</h4>
        <p class="price">$19.99</p>
      </div>
    </div>
  </div>
</main>
<%-include('../partials/footer') %>
<!-- partial -->
  <script  src="/js/script1.js"></script>

</body>
</html>