<header class="topheader">
    <nav class="topnav">
        <a href="/" class="logo">
            <img src="/images/logo.jpg" alt="logo Game Shop">
        </a>
        <button class="open-menu">
            <a class="fa-solid fa-bars"></a>

        </button>
        <ul class="menu">
            <button  class="close-menu">
                <a class="fa-solid fa-xmark" aria-label="cerrar menu"></a>
            </button>
            <li><a href="#">buscador</a></li>
            <li><a href="/">home</a></li>
            <li><a href="products/detalle">shop</a></li>
            <li><a href="user/registro" >register</a></li>
            <li><a href="user/login">login</a></li>
            <li><a href="products/carrito">carrito</a></li>
        </ul>
    </nav>
</header>