<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap">
    <title>Document</title>
</head>

<body>
    <header>


        <nav class="menu-navegacion contenedor">
            
                <div class="logo">
                    <img src="/images/logo.jpg" alt="images logo">
                </div>
                <form action="input" class="buscador">
                    <input type="text" name="buscador" class="buscador-entrada" placeholder="Buscar">
                </form>
                <div class="enlaces">
                  
                    <li><a href="home.html">home</a></li>
                    <li><a href="productDetail.html">shop</a></li>
                    <li><a href="register.html">register</a></li>
                    <div>
                    <li><a href="login.html">login</a></li>
                    <li><a href="productCart.html">carrito</a></li>
                    </div>
                 </div>


            
        </nav>
        <section class="hero">
            <div class="contenedor-texto contenedor">
               <h1>El mejor desarrollador del mundo</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque delectus dolores maiores eaque dolore
                officia tempore eum vel obcaecati nihil doloremque expedita fugit, libero magnam ipsum harum voluptatum
                nesciunt eveniet.</p>
                <a class="boton" href="#">Mas info</a>
            </div>
        </section>
    </header>
</body>

</html>