<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <enlace rel="preconectar" href="https://fonts.googleapis.com">
        <enlace rel="preconectar" href="https://fonts.gstatic.com" crossorigin>
        <enlace href="https: //fonts.googleapis.com/css2? family= Alfa+Slab+One & family= Rajdhani:wght@600 & familia= Roboto:peso@100;400;500 & display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5f1547b5eb.js" crossorigin="anonymous"></script>
    <title>Game Shop</title>
</head>

<body>
    <header>
        <nav class="menu-navegacioncontenedor">
            <div class="burger">
            <i class="fa-solid fa-bars"></i>
        </div>
                <div class="logo">
                    <img src="/images/logo.jpg"  href="index.html" alt="images logo">
                </div>
                <div class="carrito">
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
                <form action="input" class="buscador">
                    <input type="text" name="buscador" class="buscador-entrada" placeholder="Buscar">
                </form>
                <div class="enlaces">
                    <ul>
                    <li><a href="index.html" >home</a></li>
                    <li><a href="productDetail.html">shop</a></li>
                    <li><a href="register.html">register</a></li>
                    <div>
                    <li><a href="login.html">login</a></li>
                    <li><a href="productCart.html">carrito</a></li>
                </ul>
                    </div>
                </div>
        </nav>
    </header>
<main>
    <section>

        <div>

        </div>
    </section>



</main>
    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <figure>
                    <a href="index.html" alt="logo">
                        <img src="images/logo.jpg" alt="">
                    </a>
                </figure>
            </div>
             <div class="box">
                <h2>SOBRE NOSOTROS</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                </div>
                <div class="box">
                <h2>SEGUINOS</h2>
      
            <div class="redes">
                <div class="icon facebook">
                  <div class="tooltip">Facebook</div>
                  <span><i class="fab fa-facebook-f"></i></span>
                </div>
                <div class="icon twitter">
                  <div class="tooltip">Twitter</div>
                  <span><i class="fab fa-twitter"></i></span>
                </div>
                <div class="icon instagram">
                  <div class="tooltip">Instagram</div>
                  <span><i class="fab fa-instagram"></i></span>
                </div>
                <div class="icon github">
                  <div class="tooltip">Github</div>
                  <span><i class="fab fa-github"></i></span>
                </div>
                <div class="icon youtube">
                  <div class="tooltip">Youtube</div>
                  <span><i class="fab fa-youtube"></i></span>
                </div>
              </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>&copy; 2022<b>Slee Dw</b>- Todos los Derechos reservados</small>
    </div>
    </footer>
<!-- 
    
        <div class="logo-footer">
            <img src="/images/logo.jpg" alt="logo-footer" width="30%">
        </div>
                         listas
        <div class="lista-footer">
            <li><a href="index.html">home</a></li>
            <li><a href="productDetail.html">shop</a></li>
            <li><a href="register.html">register</a></li>
        </div>
                         
                        <div class="redes">
                        <p>Nuestras redes sociales</p>
                    </div>

            <div class="icon-footer">
            <a href="#" class="fa-brands fa-facebook"></a>
            <a href="https://z-p15.www.instagram.com/accounts/login/?next=/p/CK8SOUgBxgo/&hl=es-la" class="fa-brands fa-instagram"></a>
            <a href="www.twitter.com" class="fa-brands fa-twitter-square"></a>
            </div>
            <p>Todos los derechos reservados</p>
    </footer> -->

</body>

</html>