<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/productCart.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap">
    <script defer src="js/script.js"></script>
    <title>Game Shop</title>
</head>

<body>
    <!-- header-->
    <header class="topheader">
        <nav class="topnav">
            <a href="/" class="logo">
                <img src="/images/logo.jpg" alt="logo Game Shop">
            </a>
            <button class="open-menu">
                <a class="fa-solid fa-bars"></a>

            </button>
            <ul class="menu">
                <button  class="close-menu">
                    <a class="fa-solid fa-xmark" aria-label="cerrar menu"></a>
                </button>
                <li><a href="#">buscador</a></li>
                <li><a href="/home">home</a></li>
                <li><a href="/detalle">shop</a></li>
                <li><a href="/register" >register</a></li>
                <li><a href="/login">login</a></li>
                <li><a href="/productCart">carrito</a></li>
            </ul>
        </nav>
</header>
<!--fin header-->

<!-- main -->
<div class="padre">
    <figure class="caja">
    <img src="/images/PS4.jpeg" alt="PS4"/>
    <div class="precio">$1800.00</div>
    <figcaption>
      <h3>FIFA 22</h3>
      <h4>PRODUCTO</h4>
      <br>
      <p>Con la potencia de Football™, EA SPORTS FIFA 22 mejora la experiencia con tecnología de juego HyperMotion de última generación.</p>
      <br>
      
    
      <div class="boton">
        <input type="number" class="qtytext" step="1" min="1" max="" name="quantity" value="1" title="Cantidad" size="4" placeholder="" inputmode="numeric">
        <p>Precio:$1.800</p>
          </div>
        </figcaption>
        <div class="total">
            <h5>SUBTOTAL</h5>
            <div class="linea">
            <span>TOTAL  $1.800</span>
        </div>
        </div>
          <figcaption class="botones">
            <button class="BTN" >Comprar</button>
            <button class="BTN">Cancelar</button>
          </figcaption>
            <figcaption class="final">
            <button type="submit" name="add-to-cart" value="13271" class="agregar">Agregar al carrito</button>
    </figcaption>
        </figure>
        </div>
        <!-- fin del main -->

<!-- footer-->
<footer class="pie-pagina">
    <div class="grupo-1">
        <div  class="logo">
            <figure>
                <a href="/" alt="logo">
                    <img src="images/logo.jpg" alt="">
                </a>
            </figure>
        </div>
        <div class="titulo-nosotros">
            <h2>SOBRE NOSOTROS</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>

        </div>
        <div class="titulo-redes">
            <h2>SEGUINOS</h2>

            <div class="redes">
                <div class="icon facebook">
                    <div class="tooltip">Facebook</div>
                    <span><i class="fab fa-facebook-f"></i></span>
                </div>
                <div class="icon twitter">
                    <div class="tooltip">Twitter</div>
                    <span><i class="fab fa-twitter"></i></span>
                </div>
                <div class="icon instagram">
                    <div class="tooltip">Instagram</div>
                    <span><i class="fab fa-instagram"></i></span>
                </div>
                <div class="icon github">
                    <div class="tooltip">Github</div>
                    <span><i class="fab fa-github"></i></span>
                </div>
                <div class="icon youtube">
                    <div class="tooltip">Youtube</div>
                    <span><i class="fab fa-youtube"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="Copyright">
        <small>&copy; 2022- Todos los Derechos reservados</small>
    </div>
</footer>
<!-- fin footer-->