<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Detalle</title>
  <link rel='stylesheet' href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'><link rel="stylesheet" href="/css/productDetail.css">
   <script src="https://kit.fontawesome.com/f21216c2d3.js" crossorigin="anonymous"></script>
   <enlace rel="preconectar" href="https://fonts.googleapis.com">
    <enlace rel="preconectar" href="https://fonts.gstatic.com" crossorigin>
    <enlace href="https: //fonts.googleapis.com/css2? family= Alfa+Slab+One & family= Rajdhani:wght@600 & familia= Roboto:peso@100;400;500 & display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/5f1547b5eb.js" crossorigin="anonymous"></script>
</head>
<body>
  <header class="topheader">


        <nav class="menu-navegacion contenedor">


            <a href="#" class="logo"> <img src="/images/logo.jpg" alt="images logo"></a>
            <button class="hamburguesa"><a class="fa-solid fa-bars"></a></button>
            <ul class="menu">
                <button class="cerrar"><a class="fa-solid fa-xmark" aria-label="cerrar menu"></a></button>
                <!--buscador-->
                
                    
                    
                    <button class="fa fa-search" type="submit"><input  type="text" placeholder="Search..." autofocus required></button>
                  
                  <!--din buscador-->
                <li><a href="home.html">home</a></li>
                <li><a href="productDetail.html">shop</a></li>
                <li><a href="register.html">register</a></li>
                <li><a href="/login.ejs">login</a></li>
                <button class="carrito"> <a class="fas fa-shopping-cart"></a></button>
            </ul>



        </nav>
    </header>

<main>
  <div class="container">
    <div class="grid second-nav">
      <div class="column-xs-12">
        <nav>
          <ol class="breadcrumb-list">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Productos </a></li>
            <li class="breadcrumb-item active">Elden ring</li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="grid product">
      <div class="column-xs-12 column-md-7">
        <div class="product-gallery">
          <div class="product-image">
            <img class="active" src="/images/elden ring principal.jpg">
          </div>
          <ul class="image-list">
            <li class="image-item"><img src="/images/elden ring principal1.jpg"></li>
            <li class="image-item"><img src="/images/elden ring principal2.jpg"></li>
            <li class="image-item"><img src="/images/elden ring principal3.jpg"></li>
          </ul>
        </div>
      </div>
      <div class="column-xs-12 column-md-5">
        <h1>Elden ring</h1>
        <h2>$59.99</h2>
        <div class="description">
          <p>Álzate, Sinluz, y que la gracia te guíe para abrazar el poder del Círculo de Elden y encumbrarte como señor del Círculo en las Tierras Intermedias.

En las Tierras Intermedias gobernadas por la Reina Márika, la Eterna, el Círculo de Elden, origen del Árbol Áureo, ha sido destruido.</p>
          <p>Los descendientes de Márika, todos semidioses, reclamaron los fragmentos del Círculo de Elden conocidos como Grandes Runas. Fue entonces cuando la demencial corrupción de su renovada fuerza provocó una guerra: la Devastación.</p>
        </div>
        <button class="add-to-cart">Comprar</button>
      </div>
    </div>
</main>
<hr><hr>
  <footer class="pie-pagina">
                <div class="grupo-1">
                    <div class="logo">
                        <figure>
                            <a href="index.html" alt="logo">
                                <img src="images/logo.jpg" alt="">
                            </a>
                        </figure>
                    </div>
                    <div class="titulo-nostros">
                        <h2>SOBRE NOSOTROS</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                    
                    </div>
                    <div class="titulo-redes">
                        <h2>SEGUINOS</h2>
        
                        <div class="redes">
                            <div class="icon facebook">
                                <div class="tooltip">Facebook</div>
                                <span><i class="fab fa-facebook-f"></i></span>
                            </div>
                            <div class="icon twitter">
                                <div class="tooltip">Twitter</div>
                                <span><i class="fab fa-twitter"></i></span>
                            </div>
                            <div class="icon instagram">
                                <div class="tooltip">Instagram</div>
                                <span><i class="fab fa-instagram"></i></span>
                            </div>
                            <div class="icon github">
                                <div class="tooltip">Github</div>
                                <span><i class="fab fa-github"></i></span>
                            </div>
                            <div class="icon youtube">
                                <div class="tooltip">Youtube</div>
                                <span><i class="fab fa-youtube"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grupo-2">
                    <small>&copy; 2022<b>Game Shop</b>- Todos los Derechos reservados</small>
                </div>
            </footer>
<!-- partial -->
  <script  src="/js/script1.js"></script>

</body>
</html>