:root{
    --texto-color-AzulMarino:#0F044C;
    --backgound-color-Azul: #141E61;
    --body-color-Gris: #787A91;
    --text-color-GrisClaro:#EEEEEE;
}


body{
    font-family: 'Roboto Slab', serif;
    background-color: var(--text-color-GrisClaros);
}
a{
    text-decoration: none;
    background-color: var(--text-color-GrisClaro);

}


/*header*/
.topheader{
    box-shadow: 0 4px 5px var(--backgound-color-Azul);
    width: 100%;
    
}
.topnav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    background-color: var(--backgound-color-Azul);
}
/*logo*/
.logo img{
    
    width: 70px;
    display:block;
    height: 100%;
    
}

.logo{
    display: flex;
    align-items: center;
}
/*fin log*/
/*menu*/
.menu{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
    width: 80%;

}


.menu a{
    color: var(--text-color-GrisClaro);
    font-size: 18px;
    line-height: 50px;
    font-weight: 500;
    text-transform: uppercase;
    background: none;
}

.menu li{
  padding: 0 15px;
  color: var(--text-color-GrisClaro);
  transition-duration: 0.4s;
  cursor: pointer;

}

.menu li:hover {
  background-color:var(--body-color-Gris);
  color: var(--backgound-color-Azul);
  box-shadow: 0px 0px 10px 15px var(--body-color-Gris);
}

.open-menu, .close-menu{
    display: none;
    color: var(--text-color-GrisClaro);
}

.menu-navegacion{
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}


.enlaces li{
    list-style: none;
    display: inline-block;
    
    
}
.enlaces{
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: space-between;
    
}

.enlaces a{
    text-decoration: none;
    padding-left: 10px;
}

.buscador{
    display: flex;
    justify-content: center;
   
}
.buscador-entrada{
    width: 90%;
}
/*fin menu*/
/*fin header*/

/* carrusel */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background:none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 30px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  /*fin carrusel*/


/* Main */
.contenedor{
    
    width: 90%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 60px 0;
}

.titulo-seccion{
    text-align: center;
    font-size: 35px;
    color: var(--texto-color-AzulMarino);
    
}

.copy{
    text-align: center;
    color: var(--texto-color-AzulMarino);
    margin: 20px 0;
}
.productos{
    padding-top: 40px ;
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
}
.producto{
    width: 12em;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 5px;
    align-items: center;
    box-shadow: 2px 2px 5px var(--backgound-color-Azul);
}
.productos img{
    width: 10em;
    height: 12em;
}
.boton-Prod{
    width: 100px;
    display: block;
    margin: 0 auto;
    padding: 15px 0;
    background: var(--backgound-color-Azul);
    color: #ffffff;
    text-decoration: none;
    border-radius: 20px;
    text-align: center;
}

.ofertas{
    background: #f2f2f2;
}
.contenedor-imagenes{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.contenedor-imagenes img{
    display: block;
    width: 30%;
    box-shadow: 0 0 8px rgb(0, 0, .4);
    margin-bottom: 40px;
}
/*fin mian*/
/*footer */
.pie-pagina{
    width: 100%;
    background-color: var(--backgound-color-Azul);
    display: flex;
    flex-direction: column;
    text-align: center;
}
.grupo-1{
    display: flex;
    justify-content: space-around;
    color: var(--text-color-GrisClaro);
}
.redes{
    display: flex;
    flex-wrap: wrap;
    color: var(--backgound-color-Azul);
    margin: 0 10px;
  
  }
  
  .redes .icon {
    position: relative;
    background-color: var(--text-color-GrisClaro);
    border-radius: 50%;
    padding: 15px;
    margin: 5px;
    width: 20px;
    height: auto;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .redes .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background-color: #ffffff;
    color: var(--header-footer-background--Azul);
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .redes .tooltip::before {
    position: absolute;
    height: 8px;
    width: 8px;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .redes .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .redes .icon:hover span,
  .redes .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .redes .facebook:hover,
  .redes .facebook:hover .tooltip,
  .redes .facebook:hover .tooltip::before {
    background-color: #3b5999;
    color: #ffffff;
  }
  
  .redes .twitter:hover,
  .redes .twitter:hover .tooltip,
  .redes .twitter:hover .tooltip::before {
    background-color: #46c1f6;
    color: #ffffff;
  }
  
  .redes .instagram:hover,
  .redes .instagram:hover .tooltip,
  .redes .instagram:hover .tooltip::before {
    background-color: #e1306c;
    color: #ffffff;
  }
  
  .redes .github:hover,
  .redes .github:hover .tooltip,
  .redes .github:hover .tooltip::before {
    background-color: #333333;
    color: #ffffff;
  }
  
  .redes .youtube:hover,
  .redes .youtube:hover .tooltip,
  .redes .youtube:hover .tooltip::before {
    background-color: #de463b;
    color: #ffffff;
  }
  
  .pie-pagina .grupo-1 .red-social a:hover{
      background-color: var(--colorFondo);
  }
  
  .pie-pagina .Copyright{
      background-color: var(--Azul);
      padding: 5px 10px;
      text-align: center;
      color: var(--grisClaro);
  }
  
  .pie-pagina .Copyright small{
      font-size: 15px;
  }
  .Copyright small{
      color: var(--text-color-GrisClaro);
  }
  
  
/*fin footer*/
@media (max-width:950px){
    .menu{
        flex-direction: column;
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        align-items: center;
        background-color: var(--body-color-Gris);
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s;
    }
    
    .menu li{
        line-height: 60px;
        color:var(--text-color-GrisClaro);
        text-decoration: none;
        padding: 0 ;
    }
    .open-menu, 
    .close-menu{
        display: block;
        border: none;
        background: none;
        cursor: pointer;
    }
    .close-menu{
        position: absolute;
        right: 18px;
        top: 27px;  
    }
    .menu_opened{
        opacity: 1;
        pointer-events: all;
    }
    .hide{
      display: none;
  }
  
    .open-menu a, .close-menu a{
        background: none;
        font-size: 30px;
    }
    body > footer > div.grupo-1 > div.logo{
       display: none;
     }
     
}