*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --colorAzulMarino:#0F044C;
    --Azul: #141E61;
    --colorFondo: #787A91;
    --grisClaro:#EEEEEE;

}

 header .menu-navegacioncontenedor{
    background-color: var(--colorAzulMarino);
    margin: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
} 


.burger{
    border-radius: 5px;  
    background-color: var(--Azul);
    padding: 45px;
    width: 45PX; 
    height: 50px;
    font-size: 20px;
    color:#EEEEEE;
    align-items: center;
    text-align: center;

}
.carrito {
    border-radius: 5px;  
    background-color: var(--Azul);
    padding: 50px;
    width: 50PX; 
    height: 50px;
    font-size: 20px;
    color:#EEEEEE;
    align-items: center;
    text-align: center;
}
.carrito i {

    color: var(--grisClaro);
    
    
    }

    .logo{
        align-items:center;
        
    }
    
        /* .logo img{ 
        justify-content: center;
        margin-top: 20px;
    } */

main{
    background-color: var(--colorFondo);
    border-bottom:3rem;
    width:100%;
    height:100%;
}
/* MENU*/
 .menu-navegacion{
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    display:none;
} 

.buscador{
    display:none;
}

.enlaces{
    display:none
}










/* Body */
body{
 margin-bottom: 0;
 position: relative;
 min-height: 100vh;
 display: grid;
 grid-template-rows: auto 1fr auto;
 font-family: roboto;
    background-color: #787A91;
}

/* Footer */

.pie-pagina{
    height: 100%;
    width: 100%;
    background-color: var(--colorAzulMarino); 
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin:auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    
}

.pie-pagina .grupo-1 .box figure{
    width: 50%;
    height:100%;
    display: flex;
    justify-content:center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}

.pie-pagina .grupo-1 .box h2{
    color: var(--grisClaro);
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box P{
    color: var(--colorFondo);
    margin-bottom: 10px;
}



*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}


footer i{
  display: grid;
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  place-items: center;

}

.redes {
  display: inline-flex;
}

.redes .icon {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.redes .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.redes .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.redes .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.redes .icon:hover span,
.redes .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.redes .facebook:hover,
.redes .facebook:hover .tooltip,
.redes .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}

.redes .twitter:hover,
.redes .twitter:hover .tooltip,
.redes .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}

.redes .instagram:hover,
.redes .instagram:hover .tooltip,
.redes .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}

.redes .github:hover,
.redes .github:hover .tooltip,
.redes .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}

.redes .youtube:hover,
.redes .youtube:hover .tooltip,
.redes .youtube:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
}

.pie-pagina .grupo-1 .red-social a:hover{
    background-color: var(--colorFondo);
}

.pie-pagina .grupo-2{
    background-color: var(--Azul);
    padding: 15px 10px;
    text-align: center;
    color: var(--grisClaro);
}

.pie-pagina .grupo-2 small{
    font-size: 15px;
}

@media screen and (max-width:1080px){
    .pie-pagina .grupo-1{
        width:90%;
        margin: auto;
        grid-template-columns: repeat(1, 1rf);
        grid-gap:30px;
        padding: 35px 0px;
    }
}


