/*Login*/
.login-form{
    width: 300px;
    margin: 100px auto;
    height: 500px;
    padding: 20px 20px ;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 19px 38px rgb(0 0 0 / 30%),
     0 15px 12px rgb(0 0 0 / 22%);
}
.login-form h2{
    color: var(--texto-color-AzulMarino);
}


.login-form input[type="password"],
.login-form input[type="text"]{
    width: 100%;
    padding:  15px;
    border: 1px solid #ced4da;
    margin-bottom: 10px;
    box-sizing: border-box;
}
/*Estilo del boton loguin*/
.btn-login{
    width: 100%;
    padding: 15px;
    background-color: var(--backgound-color-Azul);
    border: 0;
    box-sizing:border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
    color: #ffffff;
}
.btn-login:hover,.btn-login:active{
    color: #ffffff;
    background-color: var(--body-color-Gris);
    border-color: var(--backgound-color-Azul);
}
.btn-login:focus{
    box-shadow: 0 0 0 3px rgba(121, 82, 179, 0.25) ;
}

/*Estilo del boton Register*/

.btn-register{
    width: 100%;
    padding: 15px;
    background-color: var(--backgound-color-Azul);
    border: 0;
    box-sizing:border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
    color: #ffffff;
    margin-top: 20px;

    /*para dar la apariencia de un boton*/

    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
}
.btn-register:hover,.btn-register:active{
    color: #ffffff;
    background-color:var(--body-color-Gris);
    border-color: var(--texto-color-AzulMarino);
}
.btn-login:focus, .btn-register:focus{
    box-shadow: 0 0 0 3px var(--texto-color-AzulMarino) ;
}

/* Estilos de link para ir a LOGIN*/
.a-login:link, .a-login:visited {
    background-color: white;
    color: black;
    border: 2px solid #10B981;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  .a-login:hover, .a-login:active {
    background-color: #10B981;
    color: white;
  }
  
  /* Estilos de link para realizar el LOGOUT*/
  .a-logout:link, .a-logout:visited {
    background-color: white;
    color: black;
    border: 2px solid #F87171;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  .a-logout:hover, .a-logout:active {
    background-color: #F87171;
    color: white;
  }
  
  /* Estilos boton CANCELAR*/
  .btn-cancel{
    width: 50%;
    padding: 15px;
    background-color: var(--backgound-color-Azul);
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size:medium;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
    /* Para dar la apariencia de un boton */
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;  
  }
  .btn-cancel:hover,.btn-cancel:active{
    color:#fff;
    background-color: var(--body-color-Gris);
    border-color:var(--texto-color-AzulMarino);
  }
  .btn-cancel:focus{
    box-shadow:0 0 0 3px #6B7280;
  }
  
  /* Estilos boton GUARDAR*/
  .btn-save{
    width: 50%;
    padding: 15px;
    background-color:var(--backgound-color-Azul);
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size:medium;
    color: #ffffff;
    margin-top: 20px;
    /* Para dar la apariencia de un boton */
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;  
  }
  .btn-save:hover,.btn-save:active{
    color:#fff;
    background-color: var(--body-color-Gris);
    border-color:var(--texto-color-Azuarino);
  }
  .btn-save:focus{
    box-shadow:0 0 0 3px var(--body-color-Gris);
  }
  
  /* form User Registration */
  .register-form{
    width: 400px;
    margin: 80px auto;
    padding: 0px 20px 60px 20px;
    font-family: roboto;  
    text-align: left !important;
   box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); 
  }
  
  .register-form h1 {
    text-align: left;
    color:var(--texto-color-AzulMarino) ;
    font-size: 22px;
    padding: 70px 0 10px 0;
  }
  .register-form input[type="password"],
  .register-form input[type="text"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #ced4da;
    margin-bottom: 10px;
    box-sizing:border-box;
  }
/*fin login*/
