.contenedor{
    
    width: 90%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 60px 0;
}

.titulo-seccion{
    text-align: center;
    font-size: 35px;
    color: var(--texto-color-AzulMarino);
    
}

.description-prod{
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}
.productos{
    padding-top: 40px ;
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
}
.producto{
    width: 12em;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 5px;
    align-items: center;
    box-shadow: 2px 2px 5px var(--backgound-color-Azul);
}
.product-detail{
    display: flex;
    text-decoration: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.product-name{
    color: var(--texto-color-AzulMarino);
}
.productos img{
    width: 10em;
    height: 12em;
}
.boton-Prod{
    
    width: 100px;
    display: block;
    margin: 15px auto;
    padding: 15px 0;
    background: var(--backgound-color-Azul);
    color: #ffffff;
    text-decoration: none;
    border-radius: 20px;
    text-align: center;
}
.boton-Prod:hover{
    background-color: gray;
    color: var(--backgound-color-Azul);
}
.precio-original {
    color: tomato;
    font-size: 15px;
    text-decoration: line-through;
    margin-right: 0.5rem;
}
