

/* main */
body .cart{
  background-image: url('/images/estrellas.jpg');
  min-height: 100vh;
  background-size: contain;
}
.cart .box .caja-cont {
    background-color: white;
    padding: 13px;
    margin: 0 0 0.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

  .cart .box .caja-cont .imagen {
  display: flex;
  margin: 0 0 0.5rem;
  width: 80%;
  justify-content: space-evenly;
}

.cart h1{
  text-align: center;
      margin: 0 auto;  
      color: var(--text-color-GrisClaro);
      padding: 30px;
      background-color: var(--texto-color-AzulMarino);
      height: 130px;
}
.cart .box{
  padding: 2px;
  border-radius: 3px;
  margin: 0 auto 8px;
}

.cart .box h4{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  background-color: white;
  margin:0 0 .2rem ;
}

.cart .box .caja-cont .imagen{
  display: flex;
  margin: 0 0 .5rem;
}

.cart .box .caja-cont .imagen .juegos{
  width: 90px;
  height: 90px;
  background-color: white;
  margin: 0 .3rem 0 0;
}

.cart .box .caja-cont .imagen .juegos img{
  width: 100%;
 height: 160%;
}

.cant{
  padding: 24px;
  } 

  .cant input{
  display: flex;
  justify-content: space-around; 
  width: 140px;
  height: 30px;
  border-radius: 7px; 
  border: solid 3px var(--backgound-color-Azul);
  margin: 0 auto .5rem; 
}

.descripcion .btn{
 background-color: var(--texto-color-AzulMarino);
 border-radius: 5px;
 width: 80px;
 height: 30px;
 border: none;
 color: white;
 transition: background-color .5s;
}

.descripcion .btn:hover{
  background-color: gold;
}
.cant input{
  text-align: center;
  cursor: pointer;
}

.main-carrito .box .caja-cont .cant {
  display: flex;
  justify-content: space-around;
  width: 80px;
  height: 30px;
  border-radius: 7px;
  border: solid 3px var(--body-color-Gris);
  margin: 0 auto 0.5rem;
}

.cart .box .caja-cont .cant button:hover{
  color: grey;
}
.subtotal{
  font-size: 30px;
    padding: 15px 10px 10px;
    padding-bottom: 30px;
}
.cart .box .caja-cont .subtotal{
  display: flex;
}

.cart .box .caja-cont .imagen .descripcion{
  width: 200px;
  font-size: 30px;
  padding: 2px 19px;
}

p.sub-p{
  margin: 0 .2rem 0 0;
}
.cart .box .total{
  background-color: var(--text-color-GrisClaro);
  padding: 8px;
}

.cart .box .total .opcionChekc {
  display: flex;
  justify-content: flex-end;
}

.cart .box .total .precFinal{
  display: flex;
  padding-left: 154px;
  font-size: 30px;
}

  .cart .box .total .envios{
  padding-right: 67px;
  display: flex;
  font-size: 30px;
} 

#cbox1{
  width: 30px;
  height: 25px;
  margin: 3px;
}

.cart .box .total .comprar{
  display: flex;
  justify-content: center;
  padding-left: 62px;
}

.cart .box .total .comprar button{
  border: none;
  background-color: var(--texto-color-AzulMarino);
  transition: background-color .5s;
  color: white;
  width: 150px;
  height: 40px;
  border-radius: .6rem;
  margin-top: 1.4rem;
}

.cart .box .total .comprar button:hover{
  background-color: gold;
}


@media(min-width:700px){

.cart .box .caja-cont {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

  .cart .box h4{
    text-align: center;
    background-color: var(--text-color-GrisClaro);
    margin:0 0 .2rem ;
    font-size: 30px;
  }
  
  .cart .box .total .opcionChekc{
      display: flex;
      justify-content: flex-end;
  }

  .cart .box .caja-cont .imagen{
      width: 290px;
  }

  .cart .box .caja-cont .imagen .descripcion{
      width: 200px;
      font-size: 30px;
      padding: 2px 19px;
  }

  .cart .box .total .comprar button{
      width: 200px;
      font-size: 1.4rem;
  }
  
  p .sub-p{
      font-size: 25px;
  }

  .cart .box{
      max-width: 1161px;
      margin: 0 auto 0px;  
  }
}
  /* fin del main */
