.contenedor-shop{
  display: flex;
  flex-direction: column;
}
.product-shop{
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  align-items: center;
  margin:10px;
  padding: 10px
px
;
  background-color: var( --body-color-Gris);

}
.img-shop{
  width: 10vh;
  height: 10vh;
}
.datos-shop{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 15vh;
}
.datos-shop-detalle{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 15vh;
}

.product-shop li{
  color: var(--texto-color-AzulMarino);
}
.product-shop li .name-shop{
  font-size:30px;
}
.buttons-shop{
  display: flex;
  width: 100%;
  justify-content: space-around;

}
.total-shop{
  text-align: center;
}
.btn-cancel-shop{
  width: 25%;
  padding: 15px;
  background-color: var(--backgound-color-Azul);
  border: 0;
  cursor: pointer;
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
  /* Para dar la apariencia de un boton */
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;  
}
.btn-cancel-shop:hover,.btn-cancel-shop:active{
  color:#fff;
  background-color: var(--body-color-Gris);
  border-color:var(--texto-color-AzulMarino);
}
.btn-cancel-shop:focus{
  box-shadow:0 0 0 3px #6B7280;
}
 /* Estilos boton GUARDAR*/
 .btn-save-shop{
  width: 25%;
  padding: 15px;
  background-color:var(--backgound-color-Azul);
  border: 0;
  cursor: pointer;
  color: #ffffff;
  margin-top: 20px;
  font-size: 20px;
  /* Para dar la apariencia de un boton */
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;  
}
.btn-save-shop:hover,.btn-save-shop:active{
  color:#fff;
  background-color: var(--body-color-Gris);
  border-color:var(--texto-color-Azuarino);
}
.btn-save-shop:focus{
  box-shadow:0 0 0 3px var(--body-color-Gris);
}