.contenedor{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 60px 0;
}
.titulo-producto{
    text-transform: uppercase;
    text-align: center;
}
.producto-contenedor{
    display: flex;
    justify-content: space-around;
}
.prodcuto-detalles{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}