* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --paddingSecciones: 60px 0;
    --marginElementos: 40px;


    --texto-color--AzulMarino: #0F044C;
    --header-footer-background--Azul: #141E61;
    --botones-background--gris: #787A91;
    --body-background--grisClaro: #EEEEEE;
}

body {
    background-color: var(--body-background--grisClaro);
    font-family: 'Roboto Slab', serif;
    padding: 10px 20px;
}

li a {
    text-decoration: none;
    color: var(--body-background--grisClaro);

}

.topheader {

    box-shadow: 0 4px 5px var(--header-footer-background--Azul);
    width: 100%;
    background-color: var(--header-footer-background--Azul);
}

.contenedor {

    display: flex;
    justify-content: space-between;
    padding: 10px;

}

/*logo*/
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    border-radius: 50%;
    width: auto;
    height: 90px;
}

/*fin logo*/

/*menu*/

.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
}

p {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 40px;
}

h1 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 30px;
}

.menu li {
    padding: 0 15px;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;

}

.carrito {
    width: 40px;
    height: 30px;
    font-size: 25px;
    display: block;
    border: none;
    background-color: var(--header-footer-background--Azul);

}

ul button.carrito a {
    color: var(--body-background--grisClaro)
}

/*buscador*/


ul button.fa.fa-search {
    display: flex;
    flex-direction: row-reverse;
    background-color: var(--header-footer-background--Azul);
    border: none;
    color: var(--body-background--grisClaro);

}

ul button.fa.fa-search input {
    margin-right: 10px;
    width: 150px;
    color: var(--body-background--grisClaro);
}


/*fin buscador*/

.hamburguesa,
.cerrar {
    display: none;
}

/*body*/
.producto {
    font-family: 'Roboto', Arial, sans-serif;
    width: 100%;
    background-color: var(--colorAzulMarino);
    text-align: left;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    display: flex;
    padding: 40px 20px;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.descripcion {
    text-align: center;
    width: 40vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 20px 0;
}

body figure img {
    width: 40vh;
}

@import url("https://fonts.googleapis.com/css?family=Pontano+Sans");

.container {
    margin: auto;
    padding: 0 1rem;
    max-width: 71.25rem;
    width: 100%;
}

.grid {
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
}

.grid>[class*=column-] {
    display: block;
}

.first {
    order: -1;
}

.last {
    order: 12;
}

.align-top {
    align-items: start;
}

.align-center {
    align-items: center;
}

.align-bottom {
    align-items: end;
}

@supports (display: grid) {
    .grid {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;
    }

    .grid>[class*=column-] {
        margin: 0;
        max-width: 100%;
    }

    .column-xs-1 {
        grid-column-start: span 1;
        grid-column-end: span 1;
    }

    .column-xs-2 {
        grid-column-start: span 2;
        grid-column-end: span 2;
    }

    .column-xs-3 {
        grid-column-start: span 3;
        grid-column-end: span 3;
    }

    .column-xs-4 {
        grid-column-start: span 4;
        grid-column-end: span 4;
    }

    .column-xs-5 {
        grid-column-start: span 5;
        grid-column-end: span 5;
    }

    .column-xs-6 {
        grid-column-start: span 6;
        grid-column-end: span 6;
    }

    .column-xs-7 {
        grid-column-start: span 7;
        grid-column-end: span 7;
    }

    .column-xs-8 {
        grid-column-start: span 8;
        grid-column-end: span 8;
    }

    .column-xs-9 {
        grid-column-start: span 9;
        grid-column-end: span 9;
    }

    .column-xs-10 {
        grid-column-start: span 10;
        grid-column-end: span 10;
    }

    .column-xs-11 {
        grid-column-start: span 11;
        grid-column-end: span 11;
    }

    .column-xs-12 {
        grid-column-start: span 12;
        grid-column-end: span 12;
    }

    @media (min-width: 48rem) {
        .column-sm-1 {
            grid-column-start: span 1;
            grid-column-end: span 1;
        }

        .column-sm-2 {
            grid-column-start: span 2;
            grid-column-end: span 2;
        }

        .column-sm-3 {
            grid-column-start: span 3;
            grid-column-end: span 3;
        }

        .column-sm-4 {
            grid-column-start: span 4;
            grid-column-end: span 4;
        }

        .column-sm-5 {
            grid-column-start: span 5;
            grid-column-end: span 5;
        }

        .column-sm-6 {
            grid-column-start: span 6;
            grid-column-end: span 6;
        }

        .column-sm-7 {
            grid-column-start: span 7;
            grid-column-end: span 7;
        }

        .column-sm-8 {
            grid-column-start: span 8;
            grid-column-end: span 8;
        }

        .column-sm-9 {
            grid-column-start: span 9;
            grid-column-end: span 9;
        }

        .column-sm-10 {
            grid-column-start: span 10;
            grid-column-end: span 10;
        }

        .column-sm-11 {
            grid-column-start: span 11;
            grid-column-end: span 11;
        }

        .column-sm-12 {
            grid-column-start: span 12;
            grid-column-end: span 12;
        }
    }

    @media (min-width: 62rem) {
        .column-md-1 {
            grid-column-start: span 1;
            grid-column-end: span 1;
        }

        .column-md-2 {
            grid-column-start: span 2;
            grid-column-end: span 2;
        }

        .column-md-3 {
            grid-column-start: span 3;
            grid-column-end: span 3;
        }

        .column-md-4 {
            grid-column-start: span 4;
            grid-column-end: span 4;
        }

        .column-md-5 {
            grid-column-start: span 5;
            grid-column-end: span 5;
        }

        .column-md-6 {
            grid-column-start: span 6;
            grid-column-end: span 6;
        }

        .column-md-7 {
            grid-column-start: span 7;
            grid-column-end: span 7;
        }

        .column-md-8 {
            grid-column-start: span 8;
            grid-column-end: span 8;
        }

        .column-md-9 {
            grid-column-start: span 9;
            grid-column-end: span 9;
        }

        .column-md-10 {
            grid-column-start: span 10;
            grid-column-end: span 10;
        }

        .column-md-11 {
            grid-column-start: span 11;
            grid-column-end: span 11;
        }

        .column-md-12 {
            grid-column-start: span 12;
            grid-column-end: span 12;
        }
    }

    @media (min-width: 75rem) {
        .column-lg-1 {
            grid-column-start: span 1;
            grid-column-end: span 1;
        }

        .column-lg-2 {
            grid-column-start: span 2;
            grid-column-end: span 2;
        }

        .column-lg-3 {
            grid-column-start: span 3;
            grid-column-end: span 3;
        }

        .column-lg-4 {
            grid-column-start: span 4;
            grid-column-end: span 4;
        }

        .column-lg-5 {
            grid-column-start: span 5;
            grid-column-end: span 5;
        }

        .column-lg-6 {
            grid-column-start: span 6;
            grid-column-end: span 6;
        }

        .column-lg-7 {
            grid-column-start: span 7;
            grid-column-end: span 7;
        }

        .column-lg-8 {
            grid-column-start: span 8;
            grid-column-end: span 8;
        }

        .column-lg-9 {
            grid-column-start: span 9;
            grid-column-end: span 9;
        }

        .column-lg-10 {
            grid-column-start: span 10;
            grid-column-end: span 10;
        }

        .column-lg-11 {
            grid-column-start: span 11;
            grid-column-end: span 11;
        }

        .column-lg-12 {
            grid-column-start: span 12;
            grid-column-end: span 12;
        }
    }
}

* {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Pontano Sans", sans-serif;
    font-size: 1.125rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    color: #888;
    background: #fff;
    text-rendering: optimizeLegibility;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul li {
    margin: 0 1.75rem 0 0;
}

a {
    color: #888;
    text-decoration: none;
    transition: all 0.2s ease;
}

a:hover {
    color: #333;
}

a.active {
    color: #333;
}

h1,
h2,
h3,
h4 {
    color: #333;
    font-weight: normal;
    margin: 1.75rem 0 1rem 0;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.125rem;
    margin: 0;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
    margin: 1rem 0 0.5rem 0;
}

section {
    display: block;
}

img {
    max-width: 100%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
}

nav {
    display: block;
}

nav li {
    font-size: 1.125rem;
    margin: 0;
}

.flex-nav ul {
    position: absolute;
    z-index: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    display: none;
    width: 100%;
    left: 0;
    padding: 1rem;
    background: #fff;
    text-align: center;
}

.flex-nav ul.active {
    display: flex;
}

.flex-nav ul li {
    margin: 0.5rem 0;
}

.toggle-nav {
    display: flex;
    justify-content: flex-end;
    font-size: 1.125rem;
    line-height: 1.7;
    margin: 1rem 0;
}

.toggle-nav i {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 0 0 0 0.5rem;
}

#highlight {
    color: #333;
    font-size: 1.125rem;
    text-transform: uppercase;
}

.price {
    margin: 0;
}

.breadcrumb-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 1rem 0 0 0;
    list-style: none;
}

.breadcrumb-list li {
    font-size: 0.85rem;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
}

.breadcrumb-item.active {
    color: #333;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: "/";
    display: inline-block;
    padding: 0 0.5rem;
    color: #d5d5d5;
}

.description {
    border-top: 0.0625rem solid #e3dddd;
    margin: 2rem 0;
    padding: 1rem 0 0 0;
}

.add-to-cart {
    position: relative;
    display: inline-block;
    background: #0F044C;
    color: #fff;
    border: none;
    border-radius: 0;
    padding: 1.25rem 2.5rem;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    transform: translateZ(0);
    transition: color 0.3s ease;
    letter-spacing: 0.0625rem;
}

.add-to-cart:hover::before {
    transform: scaleX(1);
}

.add-to-cart::before {
    position: absolute;
    content: "";
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #141E61;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition: transform 0.3s ease-out;
}

.container {
    margin: auto;
    padding: 0 1rem;
    max-width: 75rem;
    width: 100%;
}

.grid>[class*=column-] {
    padding: 1rem;
}

.grid.menu,
.grid.product {
    border-bottom: 0.0625rem solid #e3dddd;
}

.grid.menu>[class*=column-] {
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.grid.product {
    padding: 0 0 1.5rem 0;
}

.grid.second-nav>[class*=column-] {
    padding: 0.5rem 1rem;
}

footer {
    padding: 1rem 0;
    text-align: center;
}

.product-image {
    display: none;
}

.image-list li {
    margin: 0;
}

@media (min-width: 62rem) {

    .product-image img,
    .image-list img {
        width: 100%;
    }

    .product-image {
        display: block;
    }

    .product-image img {
        height: 52vh;
    }

    .product-image img.active {
        display: block;
        margin: 0 0 0.75rem 0;
    }

    .image-list {
        display: flex;
        overflow: hidden;
    }

    .image-list li {
        margin: 0 0.75rem 0 0;
        flex-basis: 100%;
    }

    .image-list li:nth-child(3) {
        margin: 0;
    }

    .image-list img {
        height: 10rem;
        width: 100%;
        transition: opacity 0.3s ease;
        cursor: pointer;
    }

    .image-list img:hover {
        opacity: 0.7;
    }

    nav ul {
        justify-content: flex-end;
    }

    .toggle-nav {
        display: none;
    }

    .flex-nav {
        display: block;
    }

    .flex-nav ul {
        display: flex;
        flex-direction: row;
        position: relative;
        justify-content: flex-end;
    }

    .flex-nav ul li {
        font-size: 1.125rem;
        margin: 0 1.5rem 0 0;
    }

    .flex-nav ul li:nth-child(4) {
        margin: 0;
    }
}

@-webkit-keyframes fadeImg {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeImg {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.pie-pagina {
    display: flex;
    flex-direction: column;
    background-color: var(--header-footer-background--Azul);
}

.grupo-1 {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.grupo-1 div figure a img {
    height: 90px;
    width: auto;
    border-radius: 50%;

}

.titulo-nostros,
.titulo-redes {
    text-align: center;
    font-size: 15px;
    color: var(--body-background--grisClaro);
}

/*iconos*/
.redes {
    display: inline-flex;
    flex-wrap: wrap;
    color: var(--header-footer-background--Azul);

}

.redes .icon {
    position: relative;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 15px;
    margin: 5px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.redes .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background-color: #ffffff;
    color: var(--header-footer-background--Azul);
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.redes .tooltip::before {
    position: absolute;
    height: 8px;
    width: 8px;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.redes .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.redes .icon:hover span,
.redes .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.redes .facebook:hover,
.redes .facebook:hover .tooltip,
.redes .facebook:hover .tooltip::before {
    background-color: #3b5999;
    color: #ffffff;
}

.redes .twitter:hover,
.redes .twitter:hover .tooltip,
.redes .twitter:hover .tooltip::before {
    background-color: #46c1f6;
    color: #ffffff;
}

.redes .instagram:hover,
.redes .instagram:hover .tooltip,
.redes .instagram:hover .tooltip::before {
    background-color: #e1306c;
    color: #ffffff;
}

.redes .github:hover,
.redes .github:hover .tooltip,
.redes .github:hover .tooltip::before {
    background-color: #333333;
    color: #ffffff;
}

.redes .youtube:hover,
.redes .youtube:hover .tooltip,
.redes .youtube:hover .tooltip::before {
    background-color: #de463b;
    color: #ffffff;
}

.pie-pagina .grupo-1 .red-social a:hover {
    background-color: var(--colorFondo);
}

.pie-pagina .Copyright {
    background-color: var(--Azul);
    padding: 5px 10px;
    text-align: center;
    color: var(--grisClaro);
}

.pie-pagina .Copyright small {
    font-size: 15px;
}



@media(max-width:480px) {

    /*menu*/

    .menu {
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: var(--botones-background--gris);
        opacity: 0;
        justify-content: space-around;
        pointer-events: none;
        transition: opacity 0.3s;
    }


    .menu li {
        padding: 0;
    }

    .carrito {
        width: 60px;
        margin: 0 auto;
        border-radius: 20px;

    }

    body header nav ul button .carrito a {
        display: block;
    }

    .hamburguesa,
    .cerrar {
        display: block;
        border: none;
        background: none;
        cursor: pointer;
        font-size: 30px;

    }

    .hamburguesa {
        display: flex;
        flex-direction: row-reverse;
        margin-right: 20px;
    }

    .cerrar {
        align-self: flex-end;
        padding-right: 30px;
    }

    .menu-open {
        opacity: 1;
        pointer-events: all;
    }

    .producto {
        font-family: 'Roboto', Arial, sans-serif;
        width: 100%;
        background-color: var(--colorAzulMarino);
        text-align: left;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
        display: flex;
        padding: 40px 20px;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
    }

    .descripcion {
        text-align: center;
        width: 40vh;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        margin: 20px 0;
    }

    body figure img {
        width: 40vh;
    }
}

@media(max-width:800px) {
    ul button.fa.fa-search {
        display: none;
    }

    .producto {
        font-family: 'Roboto', Arial, sans-serif;
        width: 100%;
        background-color: var(--colorAzulMarino);
        text-align: left;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
        display: flex;
        padding: 40px 20px;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
    }

    .descripcion {
        text-align: center;
        width: 40vh;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        margin: 20px 0;
    }

    body figure img {
        width: 40vh;
    }
}