<!DOCTYPE html>
<html lang="en">
    <%-include('partials/head') %>
<body>
    <!-- header-->
    <%-include('partials/header') %>
<!--fin header-->
<!-- main-->
<main>
    <!-- Carrusel-->
<div class="slideshow-container">

    <!-- Full-width images with number and caption text -->
    <div class="mySlides fade">
      <img src="images/banner-juegos-1.jpg" style="width:100%">
    </div>
  
    <div class="mySlides fade">
      <img src="images/banner-juegos-8.jpeg" style="width:100%">
    </div>
  
    <div class="mySlides fade">
      <img src="images/banner-juegos-4.jpg" style="width:100%">
    </div>
  
    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
  <br>
  
  <!-- The dots/circles -->
  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
  </div>
  <!--Fin Carrusel-->
    <section class="contenedor">
        <h2 class="titulo-seccion">Bienvenido</h2>
        <p class="copy">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Maiores dicta aliquid sapiente esse</p>
        <div class="productos">
            <div class="producto">
                <img src="/images/juego1.png" alt="juego 1">
                <h3>Producto 1</h3>
                <p class="copy">Lorem ipsum dolor sit amet</p>
                <a class="boton-Prod" href="#">Comprar</a>
            </div>


            <div class="producto">
                <img src="/images/juego2.png" alt="juego 2">
                <h3>Producto 2</h3>
                <p class="copy">Lorem ipsum dolor sit amet</p>
                <a class="boton-Prod" href="#">Comprar</a>
            </div>


            <div class="producto">
                <img src="/images/juego3.jpeg" alt="juego 3">
                <h3>Producto 3</h3>
                <p class="copy">Lorem ipsum dolor sit amet</p>
                <a class="boton-Prod" href="#">Comprar</a>
            </div>
            <div class="producto">
                <img src="/images/juego1.png" alt="juego 1">
                <h3>Producto 1</h3>
                <p class="copy">Lorem ipsum dolor sit amet</p>
                <a class="boton-Prod" href="#">Comprar</a>
            </div>


            <div class="producto">
                <img src="/images/juego2.png" alt="juego 2">
                <h3>Producto 2</h3>
                <p class="copy">Lorem ipsum dolor sit amet</p>
                <a class="boton-Prod" href="#">Comprar</a>
            </div>


            <div class="producto">
                <img src="/images/juego3.jpeg" alt="juego 3">
                <h3>Producto 3</h3>
                <p class="copy">Lorem ipsum dolor sit amet</p>
                <a class="boton-Prod" href="#">Comprar</a>
            </div>

            <div class="producto">
                <img src="/images/juego1.png" alt="juego 1">
                <h3>Producto 1</h3>
                <p class="copy">Lorem ipsum dolor sit amet</p>
                <a class="boton-Prod" href="#">Comprar</a>
            </div>


            <div class="producto">
                <img src="/images/juego2.png" alt="juego 2">
                <h3>Producto 2</h3>
                <p class="copy">Lorem ipsum dolor sit amet</p>
                <a class="boton-Prod" href="#">Comprar</a>
            </div>


            <div class="producto">
                <img src="/images/juego3.jpeg" alt="juego 3">
                <h3>Producto 3</h3>
                <p class="copy">Lorem ipsum dolor sit amet</p>
                <a class="boton-Prod" href="#">Comprar</a>
            </div>


            
        </div>
    </section>
    <section class="ofertas">
        <div class="contenedor">
            <h2 class="titulo-seccion">Ofertas del Mes</h2>
            <p class="copy">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, rerum excepturi qui
            </p>
            <div class="contenedor-imagenes">
                <img src="/images/productBaner.gif" alt="img1">
                <img src="/images/ofertasBaner.jpeg" alt="img2">
                <img src="/images/gameshopBaner.jpg" alt="img3">
            </div>
        </div>
    </section>
</main>
<!-- fin main -->

<!-- footer-->
<%-include('partials/footer') %> 
<!-- fin footer-->

    <script src="https://kit.fontawesome.com/f21216c2d3.js" crossorigin="anonymous"></script>
</body>

</html>