<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/productCart.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap">
    <script defer src="js/script.js"></script>
    <title>Game Shop</title>
</head>

<body>
    <!-- header-->
    <header class="topheader">
        <nav class="topnav">
            <a href="/" class="logo">
                <img src="/images/logo.jpg" alt="logo Game Shop">
            </a>
            <button class="open-menu">
                <a class="fa-solid fa-bars"></a>

            </button>
            <ul class="menu">
                <button  class="close-menu">
                    <a class="fa-solid fa-xmark" aria-label="cerrar menu"></a>
                </button>
                <li><a href="#">buscador</a></li>
                <li><a href="/home">home</a></li>
                <li><a href="/detalle">shop</a></li>
                <li><a href="/register" >register</a></li>
                <li><a href="/login">login</a></li>
                <li><a href="/productCart">carrito</a></li>
            </ul>
        </nav>
</header>
<!--fin header-->

<!-- MAIN -->
<main class="cart">
    <h1>CARRITO DE COMPRAS</h1>
    <section class="box">
        <h4>
            <ul>PRODUCTO</ul>
            <ul>CANTIDAD</ul>
            <ul>PRECIO</ul>
        </h4>
        <article class="caja-cont">
            <div class="imagen">
                <div class="juegos">
                    <img src="/images/fifa22.jpeg" alt="fifa22">
                </div>
                <div class="descripcion">
                    <strong>Fifa 22</strong><br>
                    <p> Sports FIFA 2022</p>
                    <button  class="btn" type="button">Cancelar</button>
                </div>
            </div>
            <div class="cant">
                <input id="inches" type="number" name="inches" min="0" max="11" step="1">
            </div>
             <div class="subtotal">  
                 <p>Subtotal:</p> 
                <p >$2.500</p>
            </div>
        </article>
        <article class="caja-cont">
            <div class="imagen">
                <div class="juegos">
                    <img src="/images/sekiroo.jpg" alt="sekiroo">
                </div>
                <div class="descripcion">
                    <strong>Sekiroo</strong><br> 
                    <p>Shadows Die Twice</p>
                    <button  class="btn" type="button">Cancelar</button>
                </div>
            </div>
             <div class="cant">
                <input id="inches" type="number" name="inches" min="0" max="11" step="1">
                
            </div>
            <div class="subtotal">
                <p>Subtotal:</p>
                <p >$2.500</p>
            </div>
        </article>    
        <div class="total">
             <article class="opcionChekc">   
                 <div class="precFinal">   
                 <p class="precTotal">Total:$5.000</p> 
                </div>
            </article>
            <div class="envios">
              <label><input type="checkbox" id="cbox1" value="first_checkbox"> Envio a domicilio</label><br>
            </div>
            <div class="comprar">
                <button>Comprar</button>
            </div>          
        </div>
    </section>
</main>
<!-- fin del main -->

<!-- footer-->
<footer class="pie-pagina">
    <div class="grupo-1">
        <div  class="logo">
            <figure>
                <a href="/" alt="logo">
                    <img src="images/logo.jpg" alt="">
                </a>
            </figure>
        </div>
        <div class="titulo-nosotros">
            <h2>SOBRE NOSOTROS</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>

        </div>
        <div class="titulo-redes">
            <h2>SEGUINOS</h2>

            <div class="redes">
                <div class="icon facebook">
                    <div class="tooltip">Facebook</div>
                    <span><i class="fab fa-facebook-f"></i></span>
                </div>
                <div class="icon twitter">
                    <div class="tooltip">Twitter</div>
                    <span><i class="fab fa-twitter"></i></span>
                </div>
                <div class="icon instagram">
                    <div class="tooltip">Instagram</div>
                    <span><i class="fab fa-instagram"></i></span>
                </div>
                <div class="icon github">
                    <div class="tooltip">Github</div>
                    <span><i class="fab fa-github"></i></span>
                </div>
                <div class="icon youtube">
                    <div class="tooltip">Youtube</div>
                    <span><i class="fab fa-youtube"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="Copyright">
        <small>&copy; 2022- Todos los Derechos reservados</small>
    </div>
</footer>
<!-- fin footer-->