<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/whatsap.css">
    <link rel="stylesheet" href="/css/dark.css">


   <link rel="shortcut icon" href="/images/logo.jpg"type="image/x-icon"> 

    <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap">
    <script src="https://kit.fontawesome.com/03a89292db.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/f21216c2d3.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
    <script  src="js/script.js" defer></script>
    <script src="js/dark.js" defer></script>
    <title><%= titulo %></title>
</head>
