<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap">
    <script src="https://kit.fontawesome.com/f21216c2d3.js" crossorigin="anonymous"></script>
    <script  src="js/script.js" defer></script>
    <title><%= titulo %></title>
</head>
