<header class="topheader">
    <nav class="topnav">
        <a href="/" class="logo">
            <img src="/images/logo2.png" alt="logo Game Shop">
        </a>
        <button class="open-menu">
            <a class="fa-solid fa-bars"></a>

        </button>
        
        


        
        <ul class="menu">
            <button  class="close-menu">
                <a class="fa-solid fa-xmark" aria-label="cerrar menu"></a>
            </button>
            <li>  <form action="/search" method="GET" class="search-form">
                <input type="text" name="keywords" placeholder="Buscar productos" class="search-form_input">
                <button type="submit" class="search-form_button"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>

            </li>
            <li><a href="/">home</a></li>
            <% if (typeof session.user != "undefined") { %> 
            <li style="display: none;"><a href="/user/registro" >register </style></a></li>
            <% } else { %>
                <li><a href="/user/registro" >register</a></li>
                <% } %>
            <% if (typeof session.user != "undefined") { %> 
            <li><a href="/user/logout">cerrar sesion</a></li>
            <% } else { %>
                <li><a href="/user/login">login</a></li>
                <% } %> 
            <li><a href="/products/carrito">cart</a></li>

        
        <div class="avatar">
            <% if (typeof session.user != "undefined") { %>
                <ul ><li><a href="/admin">admin</a></li></ul>
                <% if (session.user.rol === 'admin') { %>
                   
                   <img src="../images/avatar/<%= session.user.avatar %> " alt="">
                   <p style="color: rgb(13, 199, 13);">â—</p>
                <% } %>
            <% } %> 
        </div>
    </ul>
    </nav>
</header>