<header class="topheader">
    <nav class="topnav">
        <a href="/" class="logo">
            <img src="/images/logo2.png" alt="logo Game Shop">
        </a>
        <div class="modo" id="modo">
            <i class="fas fa-toggle-on"></i>
        </div>
        <button class="open-menu">
            <a class="fa-solid fa-bars"></a>

        </button>
        <ul class="menu">
            <button  class="close-menu">
                <a class="fa-solid fa-xmark" aria-label="cerrar menu"></a>
            </button>

            <!-- buscador -->
            <form action="/search" method="get">
            <li> <input type="text" placeholder="Search" name="keywords">
                <button type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button></li>
            </form>
            <li><a href="/">home</a></li>
            <% if (typeof session.user != "undefined") { %> 
            <li style="display: none;"><a href="/user/registro" >register </style></a></li>
            <% } else { %>
                <li><a href="/user/registro" >register</a></li>
                <% } %>
            <% if (typeof session.user != "undefined") { %> 
            <li><a href="/user/logout">cerrar sesion</a></li>
            <% } else { %>
                <li><a href="/user/login">login</a></li>
                <% } %> 
            <li><a href="/products/carrito">cart</a></li>
            <div class="avatar">
                <% if (typeof session.user != "undefined") { %>
                    <% if (session.user.rol === 'admin') { %>
                    <ul ><li><a href="/admin">admin</a></li></ul>
                    <% } %>
                       <a href="/user/perfil">
                       <img src="../images/avatar/<%= session.user.avatar %> " alt="avatar">
                       </a>
                        <p style="color: rgb(13, 199, 13);">â—</p>
                <% } %> 
            </div>
            </div>
        </ul>
    </nav>
</header>