#fondo-mainAdmin{
    background:var(--body-color-Gris);
    
}

#nav-headerAdmin{
    background-color: white;

}
#boton-adminMain{
    text-align: center;
}

@media (min-width:768px){
    #fondo-mainAdmin{ 
        display: flex;
        flex-direction: column;
        align-items: center;
            }
    #categorias { 
            max-width: 351px;
            }
    #Container-admin {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .texto-area-main{
        min-width: 351px;
    }
 }
