<!DOCTYPE html>
<html lang="en">
<%-include("partials/head")%>
<body>
 <%-include("partials/header")%>   
<main class="container min-vh-100" style="min-height: 73vh;"> 
    <h1 style="text-align: center;"> PAGINA DE ADMINISTRADOR</h1>
     <!--Register-->
     <div class="register-form">
        <h1 style="text-align: center;">listar y agregar poductos</h1>
        <div style="display: flex;
        flex-direction: column;
        align-items: center;">
            <a href="/admin/productos/listar" class="btn-cancel">Listar</a>
            <a href="/admin/productos/agregar"class="btn-cancel">agregar</a>
           
        </div>
            
        </form>

    </div>

    
    <!--Fin Register-->
</main>
<%-include("partials/footer")%> 
<!--Bootstrap-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/f21216c2d3.js" crossorigin="anonymous"></script>
</body>
</html>
