<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head')  %> 

<body>
    <!-- header-->
    <%- include('../partials/header')  %> 
    <!--fin header-->
    <!--Login-->

    <div class="login-form">
        <!-- <div class="header_avatar">
            <div class="avatar_session" ></div>
            <img src="images/avatar" alt="avatar">
    </div> -->
        <h2>Login</h2>
        <form action="/user/login" method="POST">
            <input type="email" name="email" id="email" placeholder="user" >
            <input type="password" name="password" id="password" placeholder="password" > 
            <input type="submit" class="btn-login" value="login">
        </form>
        <a href="/user/registro" class="btn-register">Register</a>
        <div class="envios-d">
                <label><input name="remember" type="checkbox" id="remember" > Recordar</label><br>
            </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <!--Fin login-->
    <!-- footer-->
    <%- include('../partials/footer')  %> 
    <!-- fin footer-->



    <script src="https://kit.fontawesome.com/f21216c2d3.js" crossorigin="anonymous"></script>
</body>


</html>