<!DOCTYPE html>
<html lang="en">

    <%-include('../partials/head') %>

<body>
    <!-- header-->
    <%-include('../partials/header') %>
    <!--fin header-->
    <!--Register-->
    <div class="register-form">
        <h1>Form Registration</h1>
        <form action="/user/registro" method="post" enctype="multipart/form-data">
            <label form="nombre">User name</label>
            <input type="text" name="name" >

            <label form="email">E-mail</label>
            <input type="email" name="email" >


            <label form="pass">Password</label>
            <input type="password" name="pass" >

            <div class="form--group">
                <label for="avatar">Avatar</label>
                <input type="file" name="avatar" id="avatar" >
                
            </div>

            <div class="botones-registro">
                <a href="/" class="btn-cancel">Cancelar</a>
                <input type="submit" class="btn-save" value="save">
            </div>
        </form>

    </div>

    
    <!--Fin Register-->
    <!-- footer-->
    <%-include('../partials/footer') %> 
    <!-- fin footer-->



    <script src="https://kit.fontawesome.com/f21216c2d3.js" crossorigin="anonymous"></script>
</body>


</html>